.CardsHome {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1200px) {
  .CardsHome {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .CardsHome {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .CardsHome {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .CardsHome {
    grid-template-columns: repeat(1, 1fr);
  }
}