.card-details{
  font-family: 'Century Gothic', sans-serif;
  box-shadow: 0 1rem 1rem #959ee2;
  background-color: #ffffff;
  display: flex;
  margin: auto;
  width: 800px;
  height: auto;
  margin-top: 100px;
  border-radius: 9px;
  border: #ffffff 5px solid;
}

.flag-act{
  background: rgb(83,91,136);
  background: linear-gradient(180deg, rgba(83,91,136,1) 0%, rgba(83,91,136,1) 48%, rgba(149,158,226,1) 100%);
  height: auto;
  padding: 20px;
  width: 400px;
}

.flag-activities__image {
  border-radius: 9px;
  border: #ffffff 5px solid;
  float: left;
  margin: 20px 20px 20px 20px;
}

.card-details__title{
  align-items: first baseline;
  font-size: 40px;
  padding: 10px;
  margin: 10px;
}

.card-details__info {
  background: rgb(149,158,226);
  background: linear-gradient(180deg, rgba(149,158,226,1) 0%, rgba(149,158,226,1) 48%, rgba(255,255,255,1) 100%);
  height: auto;
  width: 400px;
  padding: 20px 20px 30px 20px;
}
.card-details__info p{
  font-size: 18px;
  padding-left: 20px;
  text-align: left;
}


.flag-activities__activities h3{
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

.list{
  display: flex;
  margin-top: 3px;
  padding: 0px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.list li {
  font-size: 15px;
  color: #ffffff;
  border: #ffffff 2px solid;
  background-color: #535b88;
  margin: 4px;
  padding: 5px;
  border-radius: 5px;
}

.back-btn{
  margin-top: 20px;
  font-size: 20px;
  color: #00000a;
  border-radius: 9px;
  border: 3px solid;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}

.back-btn img{
  width: 30px;
}

.back-btn:hover {
  transform: scale(1.05);
  color: #ffffff;
  background-color: #959ee2;
}

.back-btn:hover img {
  filter: invert(100%);
}
