.container-country {
  text-decoration: none;
  display: inline-block;
  width: calc(100% / 5);
  max-width: 250px;
  margin: 0px;
  padding: 10px 5px;
  
}

.container-country__card {
  /*background: rgb(83,91,136);
  background: linear-gradient(180deg, rgba(83,91,136,1) 0%, rgba(83,91,136,1) 48%, rgba(149,158,226,1) 100%);
  */background-color: #1c1f36;
  border: #ffffff 3px solid;
  border-radius: 9px;
  width: 200px;
  color: white;
  border-radius: 9px;
  transition: .2s ease-in-out;
  margin: 0;
  padding: 10px;
}

.container-country__card:hover {
  transform: scale(1.1);
}

.container-country__Flag {
  border: #ffffff 3px solid;
  border-radius: 9px;
  width: 200px;
  height: 120px;
}

.container-country__cardtext {
  margin-top: 10px;
}

.container-country__Title {
  height: 40px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.container-country__text {
  font-size: 15px;
  margin-bottom: 5px;
}

.continent-label{
  font-size: 16px;
  font-weight: bold;
}
