.search-bar {
  display: flex;
  font-family: 'Century Gothic', sans-serif;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.search-bar__input {
  padding: 10px;
  font-size: 16px;
  border-radius: 9px;
  border: none;
  width: 500px;
}

.search-bar__btn img{
  width: 25px;
  filter: invert(100%);
}

.search-bar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin: 4px;
  border-radius: 9px;
  background-color: transparent;
  border: 3px solid;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.search-bar__btn:hover {
  transform: scale(1.05);
  background-color: #535b88;
}

 
