.paginado {
  font-family: 'Century Gothic', sans-serif;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.number {
  margin-right: 10px;
}

.number a {
  border: #ffffff 2px solid;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.number:hover{
  transform: scale(1.05);
}

.number a:hover {
  background-color: #535b88;
  color: #ffffff;
}

