.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
}

.select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  color: #2d2d2d;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

.ordering-name {
  margin-right: 1rem;
}

.ordering-population {
  margin-right: 1rem;
}

.filter-activities {
  margin-right: 1rem;
}

.filter-continent {
  margin-right: 1rem;
}

