.container{
  font-family: 'Century Gothic', sans-serif;
  background-color: #00000a;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select,
.clear-btn{
  width: 10%;
  background-color: transparent;
  color: #ffffff;
  padding: 5px;
  border-radius: 9px;
  margin-left:20px;
  border:2px solid;
  font-size: 15px;
  cursor: pointer;
}

.select option{
  background-color: #535b88;
}

.select:hover,
.clear-btn:hover{
  background-color: #535b88;
}