.navbar-container {
  font-family: 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  text-decoration: none;
}
.nav{
  width: 100%;
  height: 100%;
  background-color: #00000a;
}

.btnhenry{
  float: left;
  font-size: 27px;
  border-radius: 9px;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  border: 3px solid;
  padding: 7px 20px;
  margin: 25px 10px;
  transition: .3s linear;
  cursor: pointer;
}

.btnhenry:hover{
  transform: scale(1.02);
}

.container-link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  padding: 0 20px;
  margin-right: 100px;
}

.div-link{
  font-size: 20px;
  display: inline-block;
  padding: 0 20px;
  color: #ffffff;
  text-decoration: none;
  transition: .3s linear;
}

.div-link:hover{
  transform: scale(1.05);
 
}
